<launch>
  <arg name="cat_node_name" value="cat_backend_node" />
  
  <arg name="threads" default="2" />
  <arg name="prj" default="false" />
  <arg name="pr2_ik" default="true" />
  <arg name="load_robot_description" default="false" />
  <arg name="allow_trajectory_execution" default="true"/>
  <arg name="max_safe_path_cost" default="1"/>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg unless="$(arg debug)" name="debug_args" value="" />
  <arg     if="$(arg debug)" name="debug_args" value="--debug" />
  <arg name="command_args" value="$(arg debug_args) --threads $(arg threads)" />

  
  <include file="$(find cat_backend)/launch/c_jt.launch" >
  </include>

  <include unless="$(arg prj)" file="$(find cat_backend)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="$(arg load_robot_description)" />
  </include>
  <include if="$(arg prj)" file="$(find pr2ft_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="$(arg load_robot_description)" />
  </include>
  
  <include ns="$(arg cat_node_name)/ompl" file="$(find pr2_moveit_config)/launch/planning_pipeline.launch">
    <arg name="pipeline" value="ompl" />
  </include>
  
  <include ns="$(arg cat_node_name)/cat" file="$(find cat_backend)/launch/planning_pipeline.launch">
    <arg name="pipeline" value="cat" />
  </include>

  <include if="$(arg allow_trajectory_execution)" ns="$(arg cat_node_name)" file="$(find pr2_moveit_config)/launch/trajectory_execution.launch">
    <arg name="moveit_controller_manager" value="pr2" /> 
    <arg name="moveit_manage_controllers" value="true" />
  </include>

  <include if="$(arg allow_trajectory_execution)" ns="$(arg cat_node_name)" file="$(find pr2_moveit_config)/launch/sensor_manager.launch">
    <arg name="moveit_sensor_manager" value="pr2" /> 
  </include>

  <node name="$(arg cat_node_name)" launch-prefix="$(arg launch_prefix)" pkg="cat_backend" type="cat_backend_node" respawn="false" output="screen" args="$(arg command_args)">
    <param name="allow_trajectory_execution" value="$(arg allow_trajectory_execution)"/>
    <param name="max_safe_path_cost" value="$(arg max_safe_path_cost)"/>
    <param name="planning_scene_monitor/publish_planning_scene" value="true"/>
    <rosparam if="$(arg prj)"     command="load" file="$(find cat_backend)/config/pr2_kinematics.yaml"/>
    <rosparam unless="$(arg prj)" command="load" file="$(find pr2ft_moveit_config)/config/kinematics.yaml"/>
  </node>
  
</launch>
