<launch>

  <arg name="planning_plugin" value="cat_planners/ConvexConstraintSolver" />

  <!-- <arg name="planning_adapters" value="default_planner_request_adapters/FixWorkspaceBounds default_planner_request_adapters/FixStartStateBounds default_planner_request_adapters/FixStartStateCollision default_planner_request_adapters/FixStartStatePathConstraints default_planner_request_adapters/AddTimeParameterization" /> -->
  
  <arg name="planning_adapters" value="default_planner_request_adapters/AddTimeParameterization" />

  <param name="cat_planning_plugin" value="$(arg planning_plugin)" />
  <param name="cat_request_adapters" value="$(arg planning_adapters)" />

  <!-- <param name="start_state_max_bounds_error" value="0.1" /> -->

  <!-- <rosparam command="load" file="$(find cat_backend)/config/cat_planning.yaml"/> -->

</launch>

